<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- $ Viewport meta för att göra så browsern inte försökar använda automatisk anpassning till mobil storlek $ -->
	<!-- <link rel="stylesheet" type="text/css" href="omar-shishani-2.css"> -->
	<!-- <link rel="stylesheet" media="(max-width: 450px)" href="max-450px.css"> -->
	<link rel="stylesheet" href="/omar-shishani-2.css">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
	<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
	<title>Omar Shishani</title>
</head>
	<body class="body">