:root {
  --body-background-color: white;
  --footer-height: 4em;
  --header__subheading-margin-left: 1.5em;
  --margin-home_reload-700plus: 25vw;
  --navbar_main_height: 3rem;  
  --navbar_main_padding: 0.5em;
  --os-border-color: black;
  --OS-logo-color: #4b4545;
  --profile-pic-padding: 1em;
  --profile-pic-width: 14em;
  --sidebar-width: 7rem;
  --star-flash-duration: 0.7s;
  --vid-grd-col-gap: 1rem;
}

/*BASE (SMACSS)*/ 
body {
  background-color: var(--body-background-color);
  font-family: source_sans_proregular, sans-serif;
  margin: 0;
}
h1 {
  font-family: Comfortaa, 'Century Gothic 600', sans-serif;
}
html  {
  scroll-behavior: smooth;
}

/*LAYOUT (SMACSS)*/ 
#footer, #header {
  background-color: rgba(238, 183, 255, 0.8);
}
#footer {
  display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  font-family: source_sans_probold, sans-serif;
  height: var(--footer-height);
  padding: 1em;
  bottom: 0;
  width: calc(100% - 2em);
}
#header {
  float: right;
  margin: 0 0 1em 0;
  width: calc(100%);
}
@media (max-width: 700px) {
  #header {
    margin-top: 0;
    width: 100%;
  }
}
#header--heading {
  margin-left: 1em;
  float: left;
  width: calc(100% - var(--profile-pic-width)/2 - var(--profile-pic-padding)*2);
}
#main {
  clear: both;
  margin-left: var(--sidebar-width);
}
@media (max-width: 700px) {
  #main {
    margin-left: 0;
  }
}
#sidebar {
  background-color: lightgrey;
  bottom: 0;
  border-right: black 2px solid;
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: auto;
  width: var(--sidebar-width);
}
@media (max-width: 700px) {
  #sidebar {
    display: none;
  }
}

/*MODULE: SCROLL DOWN BUTTON (SMACSS)*/
.button--scroll-down {
  clear: both;
  display: block;
  height: 75px;
  margin: auto;
  position: fixed;
    bottom: 3rem;
    left: calc(50% + var(--sidebar-width)/2 - 75px/2);
  width: 75px;
}
@media (max-width: 700px) {
  .button--scroll-down {
    display: none;
  }
}
.button--scroll-down-text {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}


/*MODULE: FOOTER-LINK (SMACSS)*/
.footer-link-1 {
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 8px .07px black;
  color: black;
  padding: 3px;
  text-decoration: none;
}
.footer-link-container {
  width: 100%;
  display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  margin-bottom: 0.7rem;
}

/*MODULE: FOOTER-UPDATED (SMACSS)*/
.footer-updated {
  text-align: right;
  margin-left: var(--sidebar-width);
  padding-right: 1em;
  width: calc(100% - var(--sidebar-width) - 1em);
}
@media (max-width: 700px) {
  .footer-updated {
    margin-left: 0;
    width: calc(100% - 1em);
  }
}

/*MODULE: HEADER-SUBHEADING (SMACSS)*/
.header-subheading {
  float: left;
  font: 1.5rem source_sans_proregular, sans-serif;
  margin-left: var(--header__subheading-margin-left);
  width: calc(100% - var(--profile-pic-width) + 4.6em - var(--profile-pic-padding)*2 - var(--header__subheading-margin-left));
}
@media (max-width: 650px) {
  .header-subheading {
    float: none;
    margin: auto 1em 1em;
    width: calc(100% - 2em);
  }
}

/*MODULE: SUBCLASS - HEADER-HOMEPAGE (SMACSS)*/
.header-homepage--img-circular {
  border-radius: 100%;
  display: block;
  float: right;
  height: var(--profile-pic-width);
  padding: 1em;
  width: var(--profile-pic-width);
}
@media (max-width: 650px) {
  .header-homepage--img-circular{
    margin: auto;    
    float: none;
  }
}
.header-homepage--welcome-text {
	line-height: 2em;
}

/*MODULE: INTRO (SMACSS)*/
.intro {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 100px 100px 0;
  clear: both;
  padding: 1em 2em 1em 2em;
  margin-bottom: 14rem;
  width: 50%;
}
@media (max-width: 450px) {
  .intro {
    width: auto;
  }
}
@media (max-width: 650px) {
  .intro {
    margin-bottom: 8rem;
  }
}
.intro-text {
  font-family: Comfortaa, 'Century Gothic 600', sans-serif;
}

/*MODULE: MOBILE-NAV (SMACSS)*/
#mobile-nav-main-content {
	display: none;
	position: fixed;
		top: 0;
		left: 0;
  margin-left: 0;
  opacity: 0.98;
  padding: 0px;
  width: 100%;
  z-index: 2;
}
.mobile-nav-anchor {
  display: none;
}
#mobile-nav .mobile-nav-anchor {
  font-family: Comfortaa, 'Century Gothic 600', sans-serif;
}
@media (max-width: 700px) {
  #mobile-nav {
    background-color: #c11494;
    height: max-content;
      width: 100%;
    position: static;
      left: 0;
  }
  #mobile-nav a {
    color: white;
    display: flex;
      justify-content: center;
    font-size: 1.4rem;
    padding: 1.6rem;
    text-decoration: none;
    border-bottom: 3px solid black;
  }
  #mobile-nav  .mobile-nav-anchor:first-of-type {
    border-top: 3px solid black;
  }
}
@media (max-width: 450px) {
  #mobile-nav {
    background-color: #c11494;
    height: max-content;
      width: 100%;
    position: static;
      left: 0;
  }
  #mobile-nav .mobile-nav-anchor {
    color: white;
    display: flex;
      justify-content: center;
    font-size: 1.4rem;
    padding: 1.6rem;
    text-decoration: none;
    border-bottom: 3px solid black;
  }
  #mobile-nav .mobile-nav-anchor:first-of-type {
    border-top: 3px solid black;
  }
}

/*MODULE: NAVBAR HAMBURGER (SMACSS)*/
#mobile-nav-hamburger {
  border: 0.1em solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0.08px black;
  height: 0px;
    width: 0px;
  position: absolute;
    left: -10000px;
    top: auto;
  transform: scale(0.9);
}
@media (max-width: 700px) {
  #mobile-nav-hamburger {
    background-color: #c7c7c7;
    display: flex; 
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
    height: 50px;
      width: 50px;
    position: fixed;
      left: auto;
      right: 0;
      top: 0;
    z-index: 100;
  }
}
@media (max-width: 450px) {
  #mobile-nav-hamburger {
    display: flex; 
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
    height: 50px;
      width: 50px;
    position: fixed;
      left: auto;
      right: 0;
      top: 0;
    z-index: 100;
  }
}
.mobile-nav-hamburger-bun {
  animation: bun-spin 1s 1;
  animation-play-state: paused;
  background-color: black;
  border-radius: 100px;
  height: 5px;
    width: 35px;
}

/*MODULE: VIDEO BACKGROUND (SMACSS)*/
.myVideo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .myVideo {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .myVideo {
    width: auto;
    height: 100%;
  }
}

/*MODULE: OS LOGO (SMACSS)*/
.os-v2-svg {
  display: inline-block;
  margin: 1rem auto 0;
  width: 8em;
}
.os-v2-container {
  text-align: center; 
}
.os-o-plain {
  display: none;
  animation: rainbow_svg_fill infinite 16s linear;
  stroke: var(--os-border-color);
}
.os-s-plain {
  display: none;
  stroke: var(--os-border-color);
}

/*MODULE: PROJECT CONTAINER (SMACSS)*/
.project--1 {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  float: left;
  margin: 1rem 1rem 5rem 1rem;
  width: calc(50% - 2rem);
}
@media (max-width: 1000px) {
  .project--1 {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 1rem 1rem 5rem 1rem;
    width: calc(100% - 2rem);
  }
}
.project--1-thumbnail {
  display: block;
  margin: auto;
  max-width: 100%;
  width: 100%;
}
.project--1-BN-button-container {
  margin: auto;
  width: 20em;
}
.project--1-reload-button {
  display: block;
  font-family: Comfortaa, 'Century Gothic 600', sans-serif; 
  margin: auto;
  overflow: auto;
  text-align: center;
  text-decoration: none;
  width: 10rem;
}
.project--1-button-style-1 {
  animation: rainbow-light infinite 5s;
  animation-timing-function: linear;
  background-color: red;
  border: 3px solid black;
  border-radius: 10px;
  padding: 0.3em;
}
.project--1-subheading-1--BN {
  clear: both;
  padding: 0 1em;
  text-align: center;
}
.project--1-jewel-svg {
  height: 100%;
  max-width: 100%;
  transform: scale(0.8);
}


/*MODULE: SIDEBAR-LINK (SMACSS)*/
.sidebar-link {
  display: block;
  color: #000000;
  font-family: Comfortaa, 'Century Gothic 600', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.4em;
  text-align: center;
  text-decoration: none;
}
.sidebar-link:visited {
  color: #000000;
  text-decoration: none;
}
.sidebar-svg {
  width: 55%;
}


/*MODULE SUBCLASS: SIDEBAR LINK - PROJECTS (SMACSS)*/
.sidebar-link--animations:hover .star-big-upper-left {
  animation: fade_flash var(--star-flash-duration) infinite;
}
.sidebar-link--animations:hover .star-big-upper-right {
  animation: fade_flash var(--star-flash-duration) infinite;
  animation-delay: 0.2s;
}
.sidebar-link--animations:hover .star-big-lower {
  animation: fade_flash var(--star-flash-duration) infinite;
  animation-delay: 0.1s;
}
.sidebar-link--animations:hover .star-small-lower-left {
  animation: fade_flash var(--star-flash-duration) infinite;
  animation-delay: 0.3s;
}
.sidebar-link--animations:hover .star-small-upper-left {
  animation: fade_flash var(--star-flash-duration) infinite;
  animation-delay: 0.1s;
}
.sidebar-link--animations:hover .star-small-upper-right {
  animation: fade_flash var(--star-flash-duration) infinite;
  animation-delay: 0.4s;
}
.sidebar-link--animations:hover .star-small-lower-right {
  animation: fade_flash var(--star-flash-duration) infinite;
  animation-delay: 0s;
}

/*MODULE SUBCLASS: SIDEBAR LINK - HOME (SMACSS)*/
.sidebar-link--home {
  display: block;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}


/*MODULE: TEXT MAIN (SMACSS)*/
.text-main {
  float: left;
  margin: 3rem 0.5rem 1rem 1rem;
  width: calc(50% - 1.5rem);
}
@media (max-width: 1000px) {
  .text-main {
    float: left;
    margin: 2rem 0.5rem 1rem 1rem;
    width: calc(100% - 2rem);
  }
}
@media (max-width: 450px) {
  .text-main {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

/*MODULE SUBCLASS: TEXT MAIN - 2 (SMACSS)*/
.text-main--2 {
  margin: 5rem 1rem 1rem 0.5rem;
}
@media (max-width: 1000px) {
  .text-main--2 {
    margin: 3rem 1rem 1rem 1rem;
  }
  .text-main--2 {
    margin: 5rem 1rem 1rem 0.5rem;
  }
}
@media (max-width: 450px) {
  .text-main--2 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.text-main-content {
  background-color:rgba(238, 183, 255, 0.8);
  border-radius: 10px;
  font-size: 1.4rem;
  margin: 0;
  padding: 2rem 2rem 2rem 2rem;
}
@media (max-width: 650px) {
  .text-main-content {
    padding: 1rem 1rem 1rem 2rem;
  }
}
.text-main-content--homepage-bullets {
  padding: 2rem 2rem 2rem 4rem;
}
.text-main-content--section-1 {
  padding: 2rem 2rem 2rem 2rem;
}
@media (max-width: 650px) {
  .text-main-content--section-1 {
    padding: 1rem 1rem 1rem 1rem;
  }
}
.text-main-icon {
  float: right;
  height: 3rem;
}
.text-main-icon--html-css {
  float: left;
}
@media (max-width: 650px) {
  .text-main-icon--html-css {
    clear: both;
    float: left;
    margin: 0.3rem 0;
  }
}
@media (max-width: 650px) {
  .text-main-icon-html-css-js-wrap {
    float: left;
  }
}
.text-main-icon--illus {
  clear: right;
  margin-right: 0.1rem;
}
@media (max-width: 450px) {
  .text-main-icon--illus {
    clear: none;
    margin: 0.4rem 0 0.3rem;
  }
}
.text-main-icon--js {
  float: right;
}
@media (max-width: 650px) {
  .text-main-icon--js {
    float: left;
    margin: 0.44rem 0 0 0.3rem;
  }
}
.text-main-icon--ps {
  float: right;
  height: 3rem;
  margin: 0.4rem 0.1rem 0.3rem;
}
@media (max-width: 450px) {
  .text-main-icon--ps {
    margin-right: 0.3rem;
    clear: left;
    float: left;
  }
}
@media (max-width: 450px) {
  .text-main-icon-ps-il-wrap {
    float: right;
    /* This wrapper is used to reverse the float order of ps and il icons */
  }
}
.text-main--list-nested {
  padding: 0 0 0 0.8rem;
}
.text-main--list-itm {
  padding-bottom: 0.7rem;
}
.text-main--list-itm--section-1 {
  list-style-type: none;
}
.text-main--list-itm-nested--section-1 {
  list-style-type: disc;
  margin-left: 1em;
}
.text-main--list-itm--photo-man {
  float: left;
  width: calc(100% - 3.2rem);
}
@media (max-width: 450px) {
  .text-main--list-itm--photo-man {
    padding-bottom: 0;
  }
}
.text-main--text {
  float: left;
  width: calc(100% - 4rem);
}
.text-main--text--ps {
  width: calc(100% - 1rem);
}
@media (max-width: 450px) {
  .text-main--text--ps {
    width: 100%;
  }
}
.text-main--text--resp-web {
  clear: both;
}
.text-main--text--web-prog {
  clear: both;
  padding: 0 0.4rem 0.7rem 0;
  width: calc(100% - 9rem);
}
@media (max-width: 650px) {
  .text-main--text--web-prog {
    width: 90%;
    padding: 0;
  }
}
.text-main--text--simplicity {
  clear: both;
}
.text-main--title {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px 5px 0 0;
  margin: auto;
  text-align: center;
  width: 50%;
}
@media (max-width: 1200px) {
  .text-main--title {
    width: 80%;
  }
}

@media print {    
  .no-print, .no-print * {
      display: none !important;
  }
}
@font-face {
    font-family: 'Comfortaa';
    font-display: swap;
    src: url('fonts/comfortaa-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/comfortaa-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
      font-family: 'Century Gothic 600';
    font-display: swap;
      src: local('Century Gothic');
      font-weight: 500;
}
@font-face {
    font-family: 'source_sans_probold';
    font-display: swap;
    src: url('fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_proregular';
    font-display: swap;
    src: url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@keyframes fade_flash {
	0% {
		opacity: 1;
  }
  50% {
    opacity: 0
  }
	100% {
		opacity: 1;
	}
}
@keyframes rainbow-light {
0% {background-color: #ff9b9b;}
8.33%  {background-color: #ff9b9b;}
25%  {background-color: #ffb66b;}
41.66% {background-color: #f7ff83;}
58.33%   {background-color: #7aff91;}
75%  {background-color: #d5deff;}
91.66%  {background-color: #f3b0ff;}
100% {background-color: #ff9b9b;}
}
@keyframes rainbow_svg_fill {
  0% {fill:red;}
  8.33%  {fill:red;}
  25%  {fill:orange;}
  41.66% {fill:#e8d100;}
  58.33%   {fill:green;}
  75%  {fill:blue;}
  91.66%  {fill:purple;}
  100% {fill:red;}
}