<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Blug</h1>
  <h2>Hey its teh blug</h2>
  <h3>Title of blugPust:</h3>
  <div>
    <%= sqlResult[0].title %>
  </div>
  <h3>Pust wurdz 2 reed</h3>
  <div>
    <%= sqlResult[0].body %>
  </div>
  <h3>Aothor aov Pust</h3>
  <div>
    <%= sqlResult[0].author %>
  </div>
  <form action="GET"></form>
  <form action="POST"></form>
</body>
</html>