<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- $ Viewport meta för att göra så browsern inte försökar använda automatisk anpassning till mobil storlek $ -->
	<link rel="stylesheet" type="text/css" href="omar-shishani-2.css">
	<link rel="stylesheet" media="(max-width: 450px)" href="max-450px.css">
  <script src="jquery-3.4.1.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
	<title>Omar Shishani</title>
</head>
	<body class="body">
		<header class="header">
		<!-- $ Elementet <header> används för bättre semantik $ -->
			<h1 class="header__heading">
				Contracting
			</h1>
		</header>
		
		<main class="main">

			<div class="text-main">
				<h2 class="text-main__title">
					About Me as a Builder
				</h2>
        <div class="text-main__content">
					<p>
						I enjoy doing hands-on work, and I am always looking for ways to learn or improve. I pay close attention to details, and I am committed to creating a high-quality project. I accept mistakes when I make them, and stand for the cost of repairing them,
					</p>
					<p>
						Call, text or email me for an estimate, sketches, or to talk about your project.
					</p>
					<div>Cell Phone: </div>
					<div>+1 (707) 342-8648</div>
					<br>
					<div>Email:</div>
					<div>omarshishanischool@gmail.com</div>
        </div>
      </div>			


      <div class="text-main text-main--2">
        <div class="text-main__content">
					<img class="image--contracting" src="pictures/fence-2.jpg" alt="Omar holding 2x4 in front of fence railing">
        </div>
			</div>

			<div class="text-main text-main--float-right">
				<h2 class="text-main__title">
					Construction Skills
				</h2>
        <div class="text-main__content">
					<ul>
						<li>Fencing</li>
						<li>Paver Patios</li>
						<li>Retaining Walls</li>
						<li>Backyard Lighting</li>
						<li>Design</li>
					</ul>
        </div>
      </div>		
      <div class="text-main text-main--clear text-main--float-right">
        <div class="text-main__content">
					<img class="image--contracting" src="pictures/fence-1.jpg" alt="Image of Omar using a level on a fence railing">
        </div>
			</div>
	
      
			<video autoplay muted loop class="myVideo">
				<source src="beach-walk-in-v4.mp4" type="video/mp4">
			</video>
		</main>
		<script src="insert-to-dom.js"></script>
		<script id="omarJavascript" src="omar-shishani-2.js"></script>
	</body>
</html>
