<%- include("partials/header") %>
  <header class="header">
  <!-- $ Elementet <header> används för bättre semantik $ -->
    <h1 class="header__heading--homepage">
      Things I Do
    </h1>
  </header>
  <main class="main">

    <div>Here are some things that I love to do.</div>
    

    <video autoplay muted loop class="myVideo">
      <source src="beach-walk-in-v4.mp4" type="video/mp4">
    </video>
  </main>
<%- include("partials/footer") %>