:root {
  --sidebar-padding: 1rem;
  --sidebar-width: 10rem;
}
body {
  margin: 0;
}
#main {
  margin-left: calc(var(--sidebar-width) + 2 * var(--sidebar-padding));
  padding: 1rem;
}
#sidebar {
  color: pink;
  background-color: rgb(188, 163, 255);
  position: fixed;
  padding: var(--sidebar-padding);
  height: 100%;
  width: 10rem; 
}